<% layout("/layouts/boilerplate") %>

<div class="container mt-5 mb-5 policy-page">
    <h2>Disclaimer</h2>
    <hr>

    <p>
        This is just a fictional platform meant for project purposes.
        It has no relation to reality.
    </p>
</div>